.burn{
    position: absolute;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.normalTank{
    position: absolute;
    width: 50px;
    height: 50px;
}

.shot{
    width: 10px;
    height: 10px;
}
/*

.rotation_right {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}
.rotation_left {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
}
.rotation_up {
    transition: all 0.5s ease-in-out;
    transform: rotate(0deg);
}
.rotation_down {
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);
}
#kinput {
    font-size: 150%;
    box-sizing: border-box;
    width: 95%;
}

#area {
    width: 95%;
    box-sizing: border-box;
    height: 250px;
    border: 1px solid black;
    display: block;
}*/
